.products {
  padding: 46px 8%;
  text-align: center;

  &_heading {
    font-weight: bold;
    margin-bottom: 24px;
  }

  &_tabs {
    margin-bottom: 32px;
    .MuiTab-root {
      font-weight: bold;
      font-size: 15px;
      color: #333;
      &.active {
        color: #e1c343;
        border-bottom: 2px solid #e1c343;
      }
    }
  }

  &_grid {
    margin-top: 16px;
    &_card {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
      text-align: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_wrapper {
        position: relative;
        margin-bottom: 16px;

        &_badge {
          position: absolute;
          bottom: 78%;
          left: 65%;
        }
        &_image {
          object-fit: contain;
          max-height: 150px;
          width: auto;
        }
      }
      &_details {
        &_stars {
          margin-bottom: 0.5rem;
          .MuiSvgIcon-root {
            color: #ffb400;
            &.empty {
              color: #ccc;
            }
          }
        }

        &_name {
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        &_price {
          font-weight: bold;
          margin-bottom: 1rem;
          .original {
            text-decoration: line-through;
            color: #999;
            font-weight: normal;
            margin-left: 0.5rem;
          }
        }

        &_button {
          background: #000;
          color: #fff;
          padding: 0.5rem 1.5rem;
          border-radius: 8px;
          font-weight: bold;
          text-transform: none;
          &:hover {
            background: #333;
          }
        }
      }
    }
  }
}
.css-wxu64o-MuiBadge-badge {
  border-radius: 10px 100px / 120px !important;
  background-color: #e1c343 !important;
  color: black !important;
  font-size: 10px;
  font-weight: 600 !important;
}
